<!-- Add jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Raty.js -->
<script src="https://cdn.jsdelivr.net/npm/raty/lib/jquery.raty.min.js"></script>

<!-- Your HTML code -->
<%= form_with(model: @blog_post, local: true, multipart: true) do |form| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog post from being saved:</h2>
      <ul>
        <% @blog_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>
  

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
