<!-- app/views/blog_posts/index.html.erb -->

<h1>Listing Blog Posts</h1>

<%= search_form_for @q, html: { class: "search-form" } do |f| %>
  <div class="form-row">
    <div class="form-column">
      <%= f.label :title_cont, "Search by Title" %>
      <%= f.search_field :title_cont, class: "form-control" %>
    </div>
    <div class="form-column">
      <%= f.label :rating_gteq, "Search by Minimum Rating" %>
      <%= f.number_field :rating_gteq, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<%= button_to 'New Blog Post', new_blog_post_path, method: :get, class: 'btn btn-primary' %>
<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>



<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Title</th>
      <th>Content</th>
      <th>Rating</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each_with_index do |blog_post, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= blog_post.title %></td>
        <td><%= truncate(blog_post.content, length: 100) %></td>
        <td><%= blog_post.rating %></td>
        <td>
          <% if blog_post.image.attached? %>
            <%= image_tag blog_post.image.variant(resize: "100x100") %>
          <% else %>
            No Image Available
          <% end %>
        </td>
        <td><%= link_to 'Show', blog_post %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
        <td><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Blog Post', new_blog_post_path %>

<canvas id="ratingsChart" width="300" height="80"></canvas>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var ctx = document.getElementById('ratingsChart').getContext('2d');
    var ratings = <%= @blog_posts.pluck(:rating).to_json.html_safe %>;
    var titles = <%= @blog_posts.pluck(:title).to_json.html_safe %>;

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: titles,
        datasets: [{
          label: 'Ratings',
          data: ratings,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>
