<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Super Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/assets/raty.min.js"></script>
    <script src="/assets/raty.js"></script>
</head>
<body>


  <%= yield %>
</body>
</html>
